<div class="control_toggle">
	<button class="control_button">&plus;</button>
</div>

<div class="control_panel_container">
	<div class="control_panel">
		<div class="key_select_container">
			<select class="key_select"></select>
		</div>
	</div>
</div>