
<div class="scale_title">
	SCALE <%= scale.scale_number %><% if (scale.scale_name) { %>: "<%= scale.scale_name %>"<% } %>
</div>
<div class="scale_render">
	<div class="play_button">&blacktriangleright;</div>
	<div class="staff"></div>
</div>