
<div class="scale_header">
	<div class="play_button">&blacktriangleright;</div>
	<div class="scale_title"></div>
	<div class="scale_options_toggle"><button class="options_button" data-open="false">&plus;</button></div>
</div>

<div class="scale_options">
	<div class="option_label">ROOT </div>
	<div class="key_select_container"></div>	
</div>

<div class="scale_render">
	<div class="staff"></div>
</div>