body {
	font-family: Arial;
	font-size: 16px;
}

#scales {
	width: 800px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.control_button {
	font-size: 30px;
	display: inline-block;
	background-color: white;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 4px;
	padding-bottom: 5px;
	line-height: 25px;
}

.control_toggle {

}

.control_panel {
	background-color: #EEE;
}

.scale {
	position: relative;
	margin: 10px 0;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 10px 0;

	.scale_header {		
		&> div {
			line-height: 30px;
			display: inline-block;
			vertical-align: top;
		}
	}

	.scale_title {
		font-weight: bold;
		margin-top: 2px;
	}

	.scale_render {
		text-align: center;
		margin: 0 auto;

		background-image: url("../img/parchment_light.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.play_button {
		font-size: 40px;
	}

	.bracket {
		stroke: #808080;
		stroke-width: 1px;
		fill: none;
	}

	.intervalNumber {
		text-anchor: "middle";
		font-family: "Courier New", sans-serif;
		font-size: 12px;
	}
}