@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=IM+Fell+English:ital@0;1&display=swap');

$green: #2ed22e;

:export {
	green: $green;
}

button {
	cursor: pointer;
	outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    opacity: 1;
}

select {
	font-size: 20px;
	outline: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#scales_container {
	width: 800px;
	font-size: 16px;
	font-family: Arial;
}

#control_panel {
	border: 1px solid #606060;
	border-radius: 5px;
	padding: 10px;

	.control_option {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin-right: 10px;

		input {
			border: 2px solid #606060;
			border-radius: 3px;
			font-size: 24px;
			padding: 4px;
		}
	}

	.control_label {
		margin-top: 4px;
	}

	.control_button {
		font-size: 30px;
		display: inline-block;
		background-color: white;
		width: 40px;
		height: 40px;
		border-radius: 4px;
		padding-bottom: 5px;
		line-height: 25px;
		border: 2px solid #606060;
		border-radius: 3px;
	}

	.control_input {
		line-height: 25px;		
	}
}

.scale_options {
	/* display: none; */
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
	font-family: 'IBM Plex Mono', monospace;;

	&> div {
		line-height: 30px;
		display: inline-block;
		vertical-align: top;
	}

	.scale_options_toggle {
		position: absolute;
		right: 10px;
		top: -5px;
	}

	.scale_option {
		display: inline-block;
		margin-right: 10px;

		> div {
			line-height: 40px;
			display: inline-block;
			vertical-align: top;
		}
	}

	.play_button {
		font-size: 60px;
		margin-top: -7px;
		color: $green;
	}

	.option_label {
		font-weight: 700;
	}

	.key_select_container {
		width: 64px;

		.ss-dropdown {
			max-height: 1000px;
		}

		.ss-selected-option {
			text-align: center;
			border: none;
			background-image: none;
		}

		.style-select {
			font-family: 'IBM Plex Mono', monospace;;
			font-size: 20px;
			margin-top: 4px;
			border: none;
			border-bottom: 2px solid black;
		}
	}

	.scale_number_input {
		font-family: 'IBM Plex Mono', monospace;;
		font-size: 20px;
		padding: 5px 0 4px 0;
		width: 54px;
		outline: none;
		border: none;
		border-bottom: 2px solid black;
	}

	.options_button {
		font-size: 14px;
		display: inline-block;
		background-color: white;
		width: 24px;
		height: 24px;
		cursor: pointer;
		border: 1px solid #808080;
		color: #606060;
		border-radius: 4px;
		line-height: 21px;
		outline: none;
	}	
}

.scale {
	position: relative;
	margin: 10px 0;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 10px 0;

	.scale_render {
		text-align: center;
		margin: 0 auto;
		position: relative;

		background-image: url("../img/parchment_light.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.scale_title {
		font-family: 'IM Fell English', serif;
		font-size: 30px;
		text-align: left;
		padding: 10px 0 0 10px;
	}

	.bracket {
		stroke: #808080;
		stroke-width: 1px;
		fill: none;
	}

	.intervalNumber {
		text-anchor: "middle";
		font-family: "Courier New", sans-serif;
		font-size: 12px;
	}
}