body {
	font-family: Arial;
	font-size: 16px;
}

#scales {
	width: 900px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.control_button {
	font-size: 30px;
	display: inline-block;
}

.scale {
	position: relative;

	.scale_title {
		position: absolute;
		top: 10px;
		font-weight: bold;
	}

	.scale_render > div {
		display: inline-block;
		vertical-align: top;
	}

	.play_button {
		font-size: 60px;
		line-height: 137px;
	}
}